In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/omarmendoza564/datos/main/datos/casoscovid20201101.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ORIGEN               200 non-null    int64
 1   SEXO                 200 non-null    object
 2   ENTIDAD              200 non-null    object
 3   FECHA_INGRESO        200 non-null    object
 4   INTUBADO             200 non-null    int64
 5   NEUMONIA             200 non-null    int64
 6   EDAD                 200 non-null    int64
 7   NACIONALIDAD         200 non-null    object
 8   EMBARAZO             200 non-null    int64
 9   DIABETES             200 non-null    int64
 10  EPOC                 200 non-null    int64
 11  ASMA                 200 non-null    int64
 12  INMUSUPR             200 non-null    int64
 13  HIPERTENSION         200 non-null    int64
 14  CARDIOVASCULAR       200 non-null    int64
 15  OBESIDAD             200 non-null    int64
 16  RENAL_CRONICA        200 non-null    int64
 17  TABAQUISMO           200 non-null    int64
 18  RESULTADO_LAB        200 non-null    int64
 19  CLASIFICACION_FINAL  200 non-null    int64
dtypes: int64(16), object(4)
memory usage: 31.4+ KB

In [3]:
df.dtypes

ORIGEN                  int64
SEXO                   object
ENTIDAD                object
FECHA_INGRESO          object
INTUBADO                int64
NEUMONIA                int64
EDAD                    int64
NACIONALIDAD           object
EMBARAZO                int64
DIABETES                int64
EPOC                    int64
ASMA                    int64
INMUSUPR                int64
HIPERTENSION            int64
CARDIOVASCULAR          int64
OBESIDAD                int64
RENAL_CRONICA           int64
TABAQUISMO              int64
RESULTADO_LAB           int64
CLASIFICACION_FINAL     int64
dtype: object

In [4]:
df.shape

(200, 20)

In [5]:
df

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de MÃ©xico,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
3,1,HOMBRE,Guanajuato,2020-06-24 00:00:00,97,2,48,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
4,2,HOMBRE,Ciudad de MÃ©xico,2020-06-08 00:00:00,97,2,43,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1,HOMBRE,Veracruz,2020-01-28 00:00:00,97,99,27,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
197,1,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7
199,1,HOMBRE,Sinaloa,2020-05-27 00:00:00,97,2,41,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [6]:
df.head(10)

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de MÃ©xico,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
3,1,HOMBRE,Guanajuato,2020-06-24 00:00:00,97,2,48,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
4,2,HOMBRE,Ciudad de MÃ©xico,2020-06-08 00:00:00,97,2,43,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de MÃ©xico,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
7,1,MUJER,Ciudad de MÃ©xico,2020-03-05 00:00:00,97,2,37,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
8,2,HOMBRE,Ciudad de MÃ©xico,2020-05-26 00:00:00,97,2,45,MEXICANA,97,2,2,2,2,2,2,2,2,1,1,3
9,2,MUJER,San Luis PotosÃ­,2020-06-13 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3

In [7]:
df.tail(10)

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
190,2,HOMBRE,Nuevo LeÃ³n,2020-04-01 00:00:00,97,2,24,MEXICANA,97,2,2,2,2,2,2,2,2,1,97,6
191,1,HOMBRE,QuerÃ©taro,2020-06-22 00:00:00,2,1,69,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
192,2,HOMBRE,Ciudad de MÃ©xico,2020-03-25 00:00:00,97,2,41,MEXICANA,97,2,2,2,2,2,2,2,2,1,2,7
193,1,HOMBRE,Guanajuato,2020-06-10 00:00:00,2,1,22,MEXICANA,97,2,2,2,1,2,2,2,2,2,1,3
194,1,HOMBRE,Guanajuato,2020-03-31 00:00:00,97,2,21,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
195,1,HOMBRE,Veracruz,2020-01-28 00:00:00,97,99,27,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
197,1,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7
199,1,HOMBRE,Sinaloa,2020-05-27 00:00:00,97,2,41,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [8]:
df.describe()

,ORIGEN,INTUBADO,NEUMONIA,EDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,1.535000,74.665000,11.030000,42.555000,49.490000,2.355000,2.455000,2.460000,2.460000,2.29500,2.465000,1.830000,2.465000,2.395000,19.995000,4.435000
std,0.500025,40.495087,28.575899,18.961929,47.659701,6.805184,6.791805,6.791097,6.791097,6.81249,6.790384,0.376575,6.790384,6.800013,37.999405,1.735174
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000
25%,1.000000,97.000000,2.000000,29.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000
50%,2.000000,97.000000,2.000000,41.000000,49.500000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000
75%,2.000000,97.000000,2.000000,55.000000,97.000000,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,6.000000
max,2.000000,99.000000,99.000000,86.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,2.000000,98.000000,98.000000,97.000000,7.000000

In [9]:
df.EDAD.describe()

count    200.000000
mean      42.555000
std       18.961929
min        1.000000
25%       29.000000
50%       41.000000
75%       55.000000
max       86.000000
Name: EDAD, dtype: float64

In [10]:
df.EDAD[9:19:2]

9     33
11    13
13    30
15    58
17    74
Name: EDAD, dtype: int64

In [11]:
df[9:19:2]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
9,2,MUJER,San Luis PotosÃ­,2020-06-13 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
11,1,MUJER,Jalisco,2020-02-18 00:00:00,97,99,13,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
13,2,MUJER,Estado de MÃ©xico,2020-05-20 00:00:00,97,2,30,MEXICANA,2,2,2,1,2,2,2,2,2,2,1,3
15,1,HOMBRE,Jalisco,2020-02-10 00:00:00,2,1,58,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
17,2,HOMBRE,Sinaloa,2020-03-20 00:00:00,97,2,74,MEXICANA,97,1,2,2,2,1,2,1,2,2,2,7

In [12]:
df[['EDAD', 'SEXO', 'ENTIDAD', 'RESULTADO_LAB']]

     EDAD    SEXO           ENTIDAD  RESULTADO_LAB
0      68   MUJER           Sinaloa              1
1      33   MUJER  Ciudad de MÃ©xico              1
2      52   MUJER         Zacatecas              2
3      48  HOMBRE        Guanajuato              1
4      43  HOMBRE  Ciudad de MÃ©xico              1
..    ...     ...               ...            ...
195    27  HOMBRE          Veracruz             97
196    28   MUJER           Nayarit             97
197    30  HOMBRE           Sinaloa              1
198    53   MUJER          Veracruz              2
199    41  HOMBRE           Sinaloa              1

[200 rows x 4 columns]

In [13]:
df[9:19][['EDAD', 'SEXO', 'ENTIDAD', 'RESULTADO_LAB']]

    EDAD    SEXO           ENTIDAD  RESULTADO_LAB
9     33   MUJER   San Luis PotosÃ­              1
10    45  HOMBRE           Tabasco              1
11    13   MUJER           Jalisco             97
12    42   MUJER   Baja California              1
13    30   MUJER  Estado de MÃ©xico              1
14    59  HOMBRE         QuerÃ©taro              2
15    58  HOMBRE           Jalisco              2
16    28  HOMBRE          Veracruz             97
17    74  HOMBRE           Sinaloa              2
18    63  HOMBRE  Ciudad de MÃ©xico              1

In [14]:
df.loc[9:19,'SEXO':'EDAD']

      SEXO           ENTIDAD        FECHA_INGRESO  INTUBADO  NEUMONIA  EDAD
9    MUJER   San Luis PotosÃ­  2020-06-13 00:00:00        97         2    33
10  HOMBRE           Tabasco  2020-05-25 00:00:00        97         2    45
11   MUJER           Jalisco  2020-02-18 00:00:00        97        99    13
12   MUJER   Baja California  2020-05-25 00:00:00        97         2    42
13   MUJER  Estado de MÃ©xico  2020-05-20 00:00:00        97         2    30
14  HOMBRE         QuerÃ©taro  2020-02-18 00:00:00        97         2    59
15  HOMBRE           Jalisco  2020-02-10 00:00:00         2         1    58
16  HOMBRE          Veracruz  2020-03-27 00:00:00        97         2    28
17  HOMBRE           Sinaloa  2020-03-20 00:00:00        97         2    74
18  HOMBRE  Ciudad de MÃ©xico  2020-06-29 00:00:00        97         2    63
19  HOMBRE           Durango  2020-03-13 00:00:00        97         2    65

In [15]:
df.loc[9:19,['SEXO','EDAD','INTUBADO', 'ENTIDAD']]

      SEXO  EDAD  INTUBADO           ENTIDAD
9    MUJER    33        97   San Luis PotosÃ­
10  HOMBRE    45        97           Tabasco
11   MUJER    13        97           Jalisco
12   MUJER    42        97   Baja California
13   MUJER    30        97  Estado de MÃ©xico
14  HOMBRE    59        97         QuerÃ©taro
15  HOMBRE    58         2           Jalisco
16  HOMBRE    28        97          Veracruz
17  HOMBRE    74        97           Sinaloa
18  HOMBRE    63        97  Ciudad de MÃ©xico
19  HOMBRE    65        97           Durango

In [16]:
df.loc[[10, 15, 19],['SEXO','EDAD','INTUBADO', 'ENTIDAD']]

      SEXO  EDAD  INTUBADO  ENTIDAD
10  HOMBRE    45        97  Tabasco
15  HOMBRE    58         2  Jalisco
19  HOMBRE    65        97  Durango

In [17]:
df.loc[[10, 15, 19],'EDAD':]

,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
10,45,MEXICANA,97,2,2,2,2,2,2,1,2,2,1,3
15,58,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
19,65,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6

In [18]:
df.loc[[10, 15, 19],'EDAD'::2]

,EDAD,EMBARAZO,EPOC,INMUSUPR,CARDIOVASCULAR,RENAL_CRONICA,RESULTADO_LAB
10,45,97,2,2,2,2,1
15,58,97,2,2,2,2,2
19,65,97,2,2,2,2,97

In [19]:
df.iloc[[10, 15, 19],6::2]

,EDAD,EMBARAZO,EPOC,INMUSUPR,CARDIOVASCULAR,RENAL_CRONICA,RESULTADO_LAB
10,45,97,2,2,2,2,1
15,58,97,2,2,2,2,2
19,65,97,2,2,2,2,97

In [20]:
#Filtros
df[df['EDAD']==30]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
13,2,MUJER,Estado de MÃ©xico,2020-05-20 00:00:00,97,2,30,MEXICANA,2,2,2,1,2,2,2,2,2,2,1,3
43,2,MUJER,Sinaloa,2020-04-02 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
55,2,HOMBRE,Estado de MÃ©xico,2020-03-09 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,4,5
90,1,MUJER,Aguascalientes,2020-03-17 00:00:00,97,2,30,MEXICANA,98,2,2,2,2,2,2,2,2,2,97,6
100,1,HOMBRE,Tamaulipas,2020-03-26 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
109,1,MUJER,YucatÃ¡n,2020-03-25 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
142,2,HOMBRE,Sonora,2020-06-02 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
188,2,MUJER,Nuevo LeÃ³n,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
197,1,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [21]:
#Filtros
df[50:][df['EDAD']==30]

C:\Users\joseg\AppData\Local\Temp\ipykernel_18500\2193967835.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[50:][df['EDAD']==30]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
55,2,HOMBRE,Estado de MÃ©xico,2020-03-09 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,4,5
90,1,MUJER,Aguascalientes,2020-03-17 00:00:00,97,2,30,MEXICANA,98,2,2,2,2,2,2,2,2,2,97,6
100,1,HOMBRE,Tamaulipas,2020-03-26 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
109,1,MUJER,YucatÃ¡n,2020-03-25 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
142,2,HOMBRE,Sonora,2020-06-02 00:00:00,97,2,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
188,2,MUJER,Nuevo LeÃ³n,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
197,1,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [22]:
df[df['SEXO']=='MUJER']

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de MÃ©xico,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de MÃ©xico,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2,MUJER,YucatÃ¡n,2020-03-31 00:00:00,97,2,26,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
187,1,MUJER,Guanajuato,2020-02-26 00:00:00,97,99,29,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
188,2,MUJER,Nuevo LeÃ³n,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7

In [23]:
filtro_mujer = df['SEXO']=='MUJER'
type(filtro_mujer)

pandas.core.series.Series

In [24]:
df[filtro_mujer]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
1,1,MUJER,Ciudad de MÃ©xico,2020-05-23 00:00:00,97,2,33,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
2,2,MUJER,Zacatecas,2020-01-05 00:00:00,2,2,52,MEXICANA,2,2,2,2,2,1,2,2,2,1,2,7
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de MÃ©xico,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,2,MUJER,YucatÃ¡n,2020-03-31 00:00:00,97,2,26,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
187,1,MUJER,Guanajuato,2020-02-26 00:00:00,97,99,29,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
188,2,MUJER,Nuevo LeÃ³n,2020-03-27 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
196,1,MUJER,Nayarit,2020-04-01 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,1,2,2,97,6
198,1,MUJER,Veracruz,2020-03-25 00:00:00,2,2,53,MEXICANA,2,2,2,2,1,2,2,2,1,2,2,7

In [25]:
(df['SEXO']=='MUJER') & (df['EDAD']>=60)

0       True
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [26]:
filro_mas_60 = df['EDAD']>=60

In [27]:
df[(filtro_mujer) & filro_mas_60]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de MÃ©xico,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
20,1,MUJER,MichoacÃ¡n,2020-03-30 00:00:00,2,2,71,MEXICANA,2,1,1,2,2,1,2,1,2,1,2,7
36,1,MUJER,Veracruz,2020-03-17 00:00:00,97,2,61,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
40,2,MUJER,Chiapas,2020-05-29 00:00:00,97,2,64,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
59,2,MUJER,Tamaulipas,2020-05-13 00:00:00,97,2,84,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
63,2,MUJER,San Luis PotosÃ­,2020-03-31 00:00:00,97,2,85,MEXICANA,2,2,2,1,2,2,2,2,2,2,97,6
76,1,MUJER,Chiapas,2020-05-15 00:00:00,2,2,75,MEXICANA,2,2,1,2,2,2,2,1,2,2,1,3
80,1,MUJER,Veracruz,2020-01-17 00:00:00,97,99,85,MEXICANA,2,2,2,2,2,1,2,2,2,2,97,6
89,2,MUJER,Estado de MÃ©xico,2020-05-27 00:00:00,2,1,63,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
102,1,MUJER,Chihuahua,2020-04-24 00:00:00,2,1,77,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
108,1,MUJER,Chiapas,2020-07-01 00:00:00,2,1,64,MEXICANA,2,2,1,2,2,2,2,2,2,2,1,3
113,1,MUJER,Coahuila,2020-06-03 00:00:00,2,2,80,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
141,2,MUJER,Veracruz,2020-02-14 00:00:00,2,1,80,MEXICANA,2,2,1,2,2,1,2,2,2,2,2,7
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
151,1,MUJER,Sinaloa,2020-06-01 00:00:00,2,1,66,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
177,1,MUJER,Guanajuato,2020-05-27 00:00:00,97,2,86,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
181,1,MUJER,Ciudad de MÃ©xico,2020-05-21 00:00:00,2,1,82,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3

In [28]:
df[filro_mas_60]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
6,1,MUJER,Ciudad de MÃ©xico,2020-07-02 00:00:00,97,2,60,MEXICANA,2,2,2,2,2,2,2,1,2,2,1,3
17,2,HOMBRE,Sinaloa,2020-03-20 00:00:00,97,2,74,MEXICANA,97,1,2,2,2,1,2,1,2,2,2,7
18,2,HOMBRE,Ciudad de MÃ©xico,2020-06-29 00:00:00,97,2,63,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
19,2,HOMBRE,Durango,2020-03-13 00:00:00,97,2,65,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
20,1,MUJER,MichoacÃ¡n,2020-03-30 00:00:00,2,2,71,MEXICANA,2,1,1,2,2,1,2,1,2,1,2,7
28,1,HOMBRE,Nuevo LeÃ³n,2020-03-30 00:00:00,97,2,67,MEXICANA,97,2,2,2,2,1,2,1,2,1,2,7
36,1,MUJER,Veracruz,2020-03-17 00:00:00,97,2,61,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
38,2,HOMBRE,Tabasco,2020-03-27 00:00:00,97,2,62,MEXICANA,97,2,2,2,2,2,2,1,2,2,2,7
39,2,HOMBRE,Zacatecas,2020-05-08 00:00:00,2,1,81,MEXICANA,97,2,2,2,2,2,1,2,2,2,1,3
40,2,MUJER,Chiapas,2020-05-29 00:00:00,97,2,64,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
59,2,MUJER,Tamaulipas,2020-05-13 00:00:00,97,2,84,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
63,2,MUJER,San Luis PotosÃ­,2020-03-31 00:00:00,97,2,85,MEXICANA,2,2,2,1,2,2,2,2,2,2,97,6
66,1,HOMBRE,Nayarit,2020-03-09 00:00:00,97,99,60,MEXICANA,97,1,2,2,2,1,2,2,2,2,97,6
68,1,HOMBRE,Guerrero,2020-04-30 00:00:00,2,1,67,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
76,1,MUJER,Chiapas,2020-05-15 00:00:00,2,2,75,MEXICANA,2,2,1,2,2,2,2,1,2,2,1,3
80,1,MUJER,Veracruz,2020-01-17 00:00:00,97,99,85,MEXICANA,2,2,2,2,2,1,2,2,2,2,97,6
81,1,HOMBRE,Morelos,2020-05-07 00:00:00,2,1,60,MEXICANA,97,2,2,2,2,2,2,1,2,2,1,3
89,2,MUJER,Estado de MÃ©xico,2020-05-27 00:00:00,2,1,63,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
93,2,HOMBRE,Veracruz,2020-06-26 00:00:00,2,2,78,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
102,1,MUJER,Chihuahua,2020-04-24 00:00:00,2,1,77,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
108,1,MUJER,Chiapas,2020-07-01 00:00:00,2,1,64,MEXICANA,2,2,1,2,2,2,2,2,2,2,1,3
113,1,MUJER,Coahuila,2020-06-03 00:00:00,2,2,80,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
126,1,HOMBRE,Baja California,2020-04-01 00:00:00,2,1,61,MEXICANA,97,1,2,2,2,1,2,2,2,2,1,3
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
141,2,MUJER,Veracruz,2020-02-14 00:00:00,2,1,80,MEXICANA,2,2,1,2,2,1,2,2,2,2,2,7
145,2,HOMBRE,Ciudad de MÃ©xico,2020-07-04 00:00:00,1,1,77,MEXICANA,97,2,2,2,2,1,2,2,2,2,1,3
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
151,1,MUJER,Sinaloa,2020-06-01 00:00:00,2,1,66,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
170,2,HOMBRE,Jalisco,2020-03-25 00:00:00,97,2,64,MEXICANA,97,1,2,2,2,1,2,1,2,2,1,3
173,2,HOMBRE,Veracruz,2020-06-18 00:00:00,97,2,66,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
177,1,MUJER,Guanajuato,2020-05-27 00:00:00,97,2,86,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
181,1,MUJER,Ciudad de MÃ©xico,2020-05-21 00:00:00,2,1,82,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
183,2,HOMBRE,Tlaxcala,2020-04-01 00:00:00,1,1,85,MEXICANA,97,1,2,2,2,1,2,2,2,2,1,3
191,1,HOMBRE,QuerÃ©taro,2020-06-22 00:00:00,2,1,69,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [29]:
df[filro_mas_60].count()

ORIGEN                 37
SEXO                   37
ENTIDAD                37
FECHA_INGRESO          37
INTUBADO               37
NEUMONIA               37
EDAD                   37
NACIONALIDAD           37
EMBARAZO               37
DIABETES               37
EPOC                   37
ASMA                   37
INMUSUPR               37
HIPERTENSION           37
CARDIOVASCULAR         37
OBESIDAD               37
RENAL_CRONICA          37
TABAQUISMO             37
RESULTADO_LAB          37
CLASIFICACION_FINAL    37
dtype: int64

In [30]:
df[filtro_mujer & filro_mas_60].count()

ORIGEN                 21
SEXO                   21
ENTIDAD                21
FECHA_INGRESO          21
INTUBADO               21
NEUMONIA               21
EDAD                   21
NACIONALIDAD           21
EMBARAZO               21
DIABETES               21
EPOC                   21
ASMA                   21
INMUSUPR               21
HIPERTENSION           21
CARDIOVASCULAR         21
OBESIDAD               21
RENAL_CRONICA          21
TABAQUISMO             21
RESULTADO_LAB          21
CLASIFICACION_FINAL    21
dtype: int64

In [31]:
df[filtro_mujer & filro_mas_60][['EDAD', 'ENTIDAD']]

     EDAD           ENTIDAD
0      68           Sinaloa
5      61           Jalisco
6      60  Ciudad de MÃ©xico
20     71         MichoacÃ¡n
36     61          Veracruz
40     64           Chiapas
59     84        Tamaulipas
60     81          Guerrero
63     85   San Luis PotosÃ­
76     75           Chiapas
80     85          Veracruz
89     63  Estado de MÃ©xico
102    77         Chihuahua
108    64           Chiapas
113    80          Coahuila
130    68           Jalisco
141    80          Veracruz
149    76          Guerrero
151    66           Sinaloa
177    86        Guanajuato
181    82  Ciudad de MÃ©xico

In [32]:
df[df.ENTIDAD.isin(['Guerrero', 'Sinaloa','Jalisco'])]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
11,1,MUJER,Jalisco,2020-02-18 00:00:00,97,99,13,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
15,1,HOMBRE,Jalisco,2020-02-10 00:00:00,2,1,58,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
17,2,HOMBRE,Sinaloa,2020-03-20 00:00:00,97,2,74,MEXICANA,97,1,2,2,2,1,2,1,2,2,2,7
32,2,HOMBRE,Jalisco,2020-03-30 00:00:00,97,2,28,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
43,2,MUJER,Sinaloa,2020-04-02 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
50,1,HOMBRE,Guerrero,2020-07-02 00:00:00,97,2,52,MEXICANA,97,1,2,2,2,1,2,2,2,2,1,3
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
65,1,MUJER,Guerrero,2020-03-31 00:00:00,97,2,39,MEXICANA,2,2,2,2,2,2,2,2,2,1,97,6
68,1,HOMBRE,Guerrero,2020-04-30 00:00:00,2,1,67,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
72,1,HOMBRE,Guerrero,2020-05-19 00:00:00,2,1,55,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
83,1,HOMBRE,Sinaloa,2020-01-06 00:00:00,97,99,26,MEXICANA,97,2,2,2,2,2,2,2,2,2,97,6
85,2,HOMBRE,Sinaloa,2020-06-20 00:00:00,2,2,51,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
101,2,HOMBRE,Sinaloa,2020-03-23 00:00:00,97,2,35,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
104,2,MUJER,Guerrero,2020-05-18 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
122,1,HOMBRE,Guerrero,2020-03-19 00:00:00,97,2,40,MEXICANA,97,2,2,2,2,2,2,2,2,2,2,7
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
148,1,HOMBRE,Sinaloa,2020-04-19 00:00:00,97,2,39,MEXICANA,97,2,2,2,2,1,2,1,2,2,1,3
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
151,1,MUJER,Sinaloa,2020-06-01 00:00:00,2,1,66,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
169,1,HOMBRE,Jalisco,2020-06-03 00:00:00,97,2,32,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
170,2,HOMBRE,Jalisco,2020-03-25 00:00:00,97,2,64,MEXICANA,97,1,2,2,2,1,2,1,2,2,1,3
182,2,MUJER,Jalisco,2020-03-26 00:00:00,97,2,51,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
197,1,HOMBRE,Sinaloa,2020-05-02 00:00:00,2,1,30,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3
199,1,HOMBRE,Sinaloa,2020-05-27 00:00:00,97,2,41,MEXICANA,97,2,2,2,2,2,2,2,2,2,1,3

In [33]:
df[(df.ENTIDAD.isin(['Guerrero', 'Sinaloa','Jalisco'])) & filtro_mujer]

,ORIGEN,SEXO,ENTIDAD,FECHA_INGRESO,INTUBADO,NEUMONIA,EDAD,NACIONALIDAD,EMBARAZO,DIABETES,EPOC,ASMA,INMUSUPR,HIPERTENSION,CARDIOVASCULAR,OBESIDAD,RENAL_CRONICA,TABAQUISMO,RESULTADO_LAB,CLASIFICACION_FINAL
0,1,MUJER,Sinaloa,2020-06-11 00:00:00,2,1,68,MEXICANA,2,1,1,2,2,1,2,1,2,2,1,3
5,1,MUJER,Jalisco,2020-04-03 00:00:00,97,2,61,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6
11,1,MUJER,Jalisco,2020-02-18 00:00:00,97,99,13,MEXICANA,2,2,2,2,2,2,2,2,2,2,97,6
43,2,MUJER,Sinaloa,2020-04-02 00:00:00,97,2,30,MEXICANA,2,2,2,2,2,2,2,2,2,2,2,7
60,1,MUJER,Guerrero,2020-06-08 00:00:00,1,1,81,MEXICANA,2,1,2,2,2,1,2,2,2,2,1,3
65,1,MUJER,Guerrero,2020-03-31 00:00:00,97,2,39,MEXICANA,2,2,2,2,2,2,2,2,2,1,97,6
104,2,MUJER,Guerrero,2020-05-18 00:00:00,97,2,28,MEXICANA,2,2,2,2,2,2,2,2,2,2,1,3
130,2,MUJER,Jalisco,2020-05-09 00:00:00,97,2,68,MEXICANA,2,2,2,2,2,1,2,2,2,2,1,3
149,2,MUJER,Guerrero,2020-06-20 00:00:00,97,2,76,MEXICANA,2,2,2,2,2,1,2,1,2,2,1,3
151,1,MUJER,Sinaloa,2020-06-01 00:00:00,2,1,66,MEXICANA,2,1,2,2,2,2,2,2,2,2,1,3
182,2,MUJER,Jalisco,2020-03-26 00:00:00,97,2,51,MEXICANA,2,1,2,2,2,1,2,1,2,2,97,6