## Diccionarios
#### Un diccionario es un objeto de la clase dict. Es una colección desordenada, lo que significa que mientras se itera, el orden de recuperación no está garantizado. Las claves y valores del diccionario pueden ser de cualquier tipo. También pueden ser Ninguno. La clave y su valor se separan mediante dos puntos.

In [1]:
diccionario = {'nombre' : 'Juan', 'edad' : 22, 'cursos': ['Python','Ciencia de datos','Big Data'] }
print(type(diccionario))
print(diccionario)

<class 'dict'>
{'nombre': 'Juan', 'edad': 22, 'cursos': ['Python', 'Ciencia de datos', 'Big Data']}

In [2]:
diccionario = dict(nombre = 'Juan', 
                   edad = 22, 
                   cursos=  ['Python','Ciencia de datos','Big Data'])
print(type(diccionario))
print(diccionario)

<class 'dict'>
{'nombre': 'Juan', 'edad': 22, 'cursos': ['Python', 'Ciencia de datos', 'Big Data']}

In [3]:
print(diccionario['nombre'])
print(diccionario['edad'])
print(diccionario['cursos'])

Juan
22
['Python', 'Ciencia de datos', 'Big Data']

In [4]:
print(diccionario.keys())
print(diccionario.values())
print(diccionario.items())

dict_keys(['nombre', 'edad', 'cursos'])
dict_values(['Juan', 22, ['Python', 'Ciencia de datos', 'Big Data']])
dict_items([('nombre', 'Juan'), ('edad', 22), ('cursos', ['Python', 'Ciencia de datos', 'Big Data'])])

In [5]:
for v in diccionario.values():
  print(v)

Juan
22
['Python', 'Ciencia de datos', 'Big Data']

In [6]:
datos = ('Tokyo:38140000;Delhi:26454000;Shanghai:24484000;'
    'Mumbai:21357000;São Paulo:21297000;CDMX:24800000')
print(datos)
print(type(datos))
print(datos.split(";"))

Tokyo:38140000;Delhi:26454000;Shanghai:24484000;Mumbai:21357000;São Paulo:21297000;CDMX:24800000
<class 'str'>
['Tokyo:38140000', 'Delhi:26454000', 'Shanghai:24484000', 'Mumbai:21357000', 'São Paulo:21297000', 'CDMX:24800000']

In [7]:
ciudades = {}
for r in datos.split(";"):
  ciudad, poblacion = r.split(":")
  ciudades[ciudad] = int(poblacion)

print(ciudades)
print(type(ciudades['Tokyo']))
print('Tokyo' in ciudades)
print('Monterrey' in ciudades)
print('Monterrey' not in ciudades)

{'Tokyo': 38140000, 'Delhi': 26454000, 'Shanghai': 24484000, 'Mumbai': 21357000, 'São Paulo': 21297000, 'CDMX': 24800000}
<class 'int'>
True
False
True

In [8]:
palabra = "Supercalifragilisticoespialidoso"
letras = {}
for letra in palabra:
  if letra in letras:
    letras[letra] += 1
  else:
    letras[letra] = 1

letras

{'S': 1,
 'u': 1,
 'p': 2,
 'e': 2,
 'r': 2,
 'c': 2,
 'a': 3,
 'l': 3,
 'i': 6,
 'f': 1,
 'g': 1,
 's': 3,
 't': 1,
 'o': 3,
 'd': 1}

In [9]:
palabras = [
    'mesa', 'movil', 'barco','coche','avion','bandeja','casa','monitor','carretera',
    'arco',
]

palabras2 = [
    'mesa','movil','buque','coche','avioneta','bandeja','casa','teclado','carretera','arco',
    'cartera'
]

print(palabras)
print(palabras2)

['mesa', 'movil', 'barco', 'coche', 'avion', 'bandeja', 'casa', 'monitor', 'carretera', 'arco']
['mesa', 'movil', 'buque', 'coche', 'avioneta', 'bandeja', 'casa', 'teclado', 'carretera', 'arco', 'cartera']

In [10]:
grupo_letras = {}
for lista in [palabras, palabras2]:
  for palabra in lista:
    key = palabra[0]
    if key in grupo_letras:
      grupo_letras[key].append(palabra)
    else:
      grupo_letras[key] = [palabra]

grupo_letras

{'m': ['mesa', 'movil', 'monitor', 'mesa', 'movil'],
 'b': ['barco', 'bandeja', 'buque', 'bandeja'],
 'c': ['coche', 'casa', 'carretera', 'coche', 'casa', 'carretera', 'cartera'],
 'a': ['avion', 'arco', 'avioneta', 'arco'],
 't': ['teclado']}

## Listas
#### Las listas se utilizan para almacenar varios elementos en una sola variable. Las listas son uno de los 4 tipos de datos incorporados en Python que se utilizan para almacenar colecciones de datos, los otros 3 son Tuple, Set y Dictionary, todos con diferentes calidades y usos.

In [11]:
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [12]:
print(lista_cursos[0])
print(lista_cursos[-1])
print(lista_cursos[1:4])

Python
Base de datos
['Ciencia de datos', 'Big Data', 'Python']

In [13]:
lista_cursos[0] = 'Java'
lista_cursos

['Java', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [14]:
tupla_cursos = ('Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos')
tupla_cursos

('Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos')

In [15]:
print(tupla_cursos[0])
print(tupla_cursos[-1])
print(tupla_cursos[1:4])

Python
Base de datos
('Ciencia de datos', 'Big Data', 'Python')

In [16]:
#La tuplas son inmitables, no podemos cambiar los elementos
tupla_cursos[0] = 'Java'
tupla_cursos

TypeError: 'tuple' object does not support item assignment

In [17]:
lista_cursos = ['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']
lista_cursos

['Python', 'Ciencia de datos', 'Big Data', 'Python', 'Base de datos']

In [18]:
set_cursos = set(lista_cursos)
print(set_cursos)
print(type(set_cursos))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
<class 'set'>

In [19]:
set_cursos2 = set(['Python', 'Pandas', 'Mineria', 'Base de datos'])
set_cursos2

{'Base de datos', 'Mineria', 'Pandas', 'Python'}

In [20]:
#JOIN
print(set_cursos)
print(set_cursos2)
print("---JOIN---")
print(set_cursos & set_cursos2)
print(set_cursos.intersection(set_cursos2))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
{'Python', 'Mineria', 'Pandas', 'Base de datos'}
---JOIN---
{'Python', 'Base de datos'}
{'Python', 'Base de datos'}

In [21]:
#UNION
print(set_cursos)
print(set_cursos2)
print("---UNION---")
print(set_cursos | set_cursos2)
print(set_cursos.union(set_cursos2))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
{'Python', 'Mineria', 'Pandas', 'Base de datos'}
---UNION---
{'Mineria', 'Pandas', 'Python', 'Big Data', 'Ciencia de datos', 'Base de datos'}
{'Mineria', 'Pandas', 'Python', 'Big Data', 'Ciencia de datos', 'Base de datos'}

In [22]:
#DIFERENCIA
print(set_cursos)
print(set_cursos2)
print("---DIFERENCIA---")
print(set_cursos - set_cursos2)
print(set_cursos.difference(set_cursos2))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
{'Python', 'Mineria', 'Pandas', 'Base de datos'}
---DIFERENCIA---
{'Big Data', 'Ciencia de datos'}
{'Big Data', 'Ciencia de datos'}

In [23]:
#DIFERENCIA
print(set_cursos)
print(set_cursos2)
print("---DIFERENCIA---")
print(set_cursos2 - set_cursos)
print(set_cursos2.difference(set_cursos))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
{'Python', 'Mineria', 'Pandas', 'Base de datos'}
---DIFERENCIA---
{'Mineria', 'Pandas'}
{'Mineria', 'Pandas'}

In [24]:
#DIFERENCIA SIMETRICA
print(set_cursos)
print(set_cursos2)
print("---DIFERENCIA---")
print(set_cursos2 ^ set_cursos)
print(set_cursos2.symmetric_difference(set_cursos))

{'Python', 'Base de datos', 'Ciencia de datos', 'Big Data'}
{'Python', 'Mineria', 'Pandas', 'Base de datos'}
---DIFERENCIA---
{'Mineria', 'Pandas', 'Big Data', 'Ciencia de datos'}
{'Mineria', 'Pandas', 'Big Data', 'Ciencia de datos'}